<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a ng-if="isLoggedIn" type="button" class="sidebar-btn" aside-menu-toggle="sol2"> <span class="ion-navicon"></span> </a>
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SymposiumGo</a> 
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <ul ng-if="isLoggedIn" class="nav navbar-nav">
            <li><a href="#">Link</a></li>
            <li class="dropdown" uib-dropdown>
                <a href id="f1-dropdown" class="dropdown-toggle" uib-dropdown-toggle>Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="f1-dropdown">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form ng-if="isLoggedIn" class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <span class="input-group-addon nav-search-icon"><span class="ion-search"></span></span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="isLoggedIn"><a href="#">Link</a></li>
            <li class="dropdown" uib-dropdown>
                <a href id="f2-dropdown" class="dropdown-toggle" uib-dropdown-toggle>Account <b class="caret"></b></a>
                <ul ng-if="!isLoggedIn" class="dropdown-menu" uib-dropdown-menu aria-labelledby="f2-dropdown" >
                    <li><a href="#!/login">Login</a></li>
                    <li><a href="#!/register">Register</a></li>
                </ul>

                <ul ng-if="isLoggedIn" class="dropdown-menu" uib-dropdown-menu aria-labelledby="f2-dropdown" >
                    <li><a href="#!/my-profile">{{ userFullName }}</a></li>
                    <li><a href ng-click="logOut()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>