@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
  font-family: 'Roboto', sans-serif;
}
*{
  border-radius: 0!important;
}
.navbar-default{
  background: #fff;
  border-bottom: 2px solid #007bff;
}
.nav-search-icon{
  background: #fff;
  font-size: 20px;
}
.box-header{
  margin-top: 30px;
  padding: 5px;
  background: #007bff;
  color: #fff;
  text-align: center;
}
.box-content{
  padding: 30px;
  border: 1px solid #007bff;
}
.box-title{
  font-size: 24px;
  font-weight: bold;
}
.btn-primary{
  background-image: none!important;
  background-color: #007bff!important
}
#downloadbtn {
  margin-bottom: 10px;
}

.about-links {
  color: #95a5a6;
}
.about-links a {
  border-bottom: 1px dotted;
  text-decoration: none;
  margin-right: 15px;
}

.about-links li {line-height: 30px;}
.about-links li:hover, .about-links li:hover a { color: #666; }
.about-links .love:hover i { color: #e74c3c; }
.about-links .prospectus:hover i { color: #f39c12; }
.about-links .cypher:hover i { color: #16a085; }
.about-links .lab:hover i { color: #8e44ad; }

.ng-aside .modal-content {
  min-width: 320px;
}
.aside-body{
  padding: 0;
}

.aside-body ul{
  padding-left: 0px;
  list-style: none;
}
.aside-body ul li{
    cursor: pointer;
    min-height: 45px;
    line-height: 45px;
}

.aside-body ul li:hover{
  background: #eae7e7 !important;
}



.aside-body ul li a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 45px;
  height: 45px;
}
.aside-body ul li span{
  padding-right: 15px;
  
}
.sidebar-icon{
  padding: 0px 14px;
  font-size: 18px;
}

.collapsible-body li a{
  padding-left: 53px;
  font-size: 14.5px;
  line-height: 45px;
  height: 45px;
  
}
.aside-body > ul > li > ul > li > ul > li > a{
  padding-left: 73px;
  font-size: 14.5px;
  line-height: 45px;
  height: 45px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}